.input {
    padding-bottom: 6rem;
}

.btn { 
    Outline:none;
    border:none !important;
}

.btn-primary:focus {
    box-shadow: none !important;
}

tr:hover {
    background-color: rgb(223, 217, 217);
}

.green {
    background-color: rgb(118, 248, 118) !important;
}

.red {
    background-color: rgb(241, 109, 109) !important;
}

.yellow {
    background-color: rgb(241, 241, 129) !important;
}

.home,.register,.login,.password {
    width: 300px;
    height: 300px;
}

.img-custom {
    max-width: 35px;
    height: auto;
}